* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.justify-center {
  justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-evently{
    justify-content: space-evenly;
}
.alignitems-center {
  align-items: center;
}
.center {
  text-align: center;
}
body {
  font-family: "Rowdies", cursive;
  font-weight: 400;
}
.btn-primary{
    padding: 10px 15px;
    background-color: #e45353;
    border: unset;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    line-height: 20px;
}
section{
    margin-top: 100px;
}
/* header part styles */
.header {
  background-image: url("../images/donation1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
  position: relative;
  z-index: 1;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.header .row {
  height: 80vh;
}
.header-content {
  z-index: 3;
  width: 500px;
  margin: 0 auto;
}
.header-title {
  color: #fff;
  font-weight: 700;
  font-size: 45px;
}
.header-description {
  margin: 30px 0;
  color: rgba(255, 255, 255, 0.562);
}
/* donate today styles */
.section-content{
    width: 500px;
}
.section-header{
    font-weight: 700;
    font-size: 35px;
    color: #000000c5;
}
.section-description{
    margin: 30px 0;
    color: #8d838377;
}
.donate-ammount{
    width: calc(20% - 20px);
    border: 1px solid #e45353;
    margin-bottom: 10px;
    padding:40px 0;
    background-color: rgba(223, 136, 136, 0.1);
}
.donate-today .gap{
    gap: 20px;
}
.donate-ammount p{
    color: #0000006c;
    font-size: 22px;
}
.other-ammount{
    margin: 50px 0 20px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #979191d3;
}
.other-ammount p{
    color: #b4aeaec5;
    font-size: 22px;
}
.donate-today button{
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    
}
/* donate plane styles */

.plane-list{
    width: 30%;
    margin-top: 30px;
    padding: 30px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.plane-bg-1{
    background-color:rgba(196, 177, 177, 0.2);
}
.plane-bg-2{
    background-color:rgba(196, 177, 177, 0.5);
}
.plane-bg-3{
    background-color:rgba(202, 233, 129, 0.5);
}
.plane-list h3{
    font-size: 25px;
    font-weight: 700;
    margin: 25px 0;
    color: #000000f5;
}
.plane-list p{
    font-size: 14px;
    line-height: 30px;
    color: #0000005e;
}
/* blog styles */
.blog-content,.blog-image{
    width: calc(50% - 50px);
    margin-top: 80px;
}
.blog-content h2{
    color: #000000d0;
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: 700;
}
.blog-content p{
    padding-right: 30px;
    font-size: 18px;
    line-height: 30px;
    color:#0000005e;
    margin-bottom: 30px;
}
.blog-content button{
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}
/* .blog-image{
    padding:0 20px;
} */
.blog-image img{
    width: 100%;
    height: 456px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}